html {
  height: 100%;
}

body {
  height: 1800px;
}

/* ==================================
   Navbar
   ================================== */

.navbar.bg-dark {
  background-color: #000 !important;
}
.navbar-brand>img {
  width: 3rem;
}
.navbar-nav > li {
    font-size: 15px;
    text-transform: uppercase;
    padding: 30px 13px;
    text-align: center;
}
.navbar-nav > li > a {
  color: #ffffff !important;
}
.navbar-nav > li > a:hover {
  color: rgba(255,255,255,.5) !important;
}
.navbar-dark .navbar-toggler {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.navbar-dark .navbar-toggler:hover {
  background-color: rgba(255,255,255,.5);
}


#cover {
  background: url("../img/ctc_cover.jpg") center no-repeat;
  width: auto;
  height: 100%;
  /* background-position: center;
  background-repeat: no-repeat; */
  background-size: cover;
  margin-top: 98px;
}

.top-btns {
  position: relative;
  top: 50px;
  right: 100px;
  float: right;
}

.btn {
  color: #fff
}

/* .bottom-btns {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
} */

.modal-body {
  text-align: center;
}

/* ==================================
   Footer
   ================================== */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 2em 0 2em;
  text-align: center;
  border-top: 1px solid #E7E7E7;
  background-color: #ffffff;
}
.footer h6 {
  margin: 1.5em 0;
}
.footer h6 a {
  position: relative;
  display: table;
  padding: 0;
  margin: auto;
  font-weight: normal;
  text-transform: uppercase;
  color: #101820;
}
@media only screen and (min-width: 40.063em) {
  .footer.fixed-bottom {
    position: fixed;
    z-index: -99;
  }
  .footer.fixed-bottom h6 {
    margin-top: 0;
  }
}

/* ==================================
   Animations
   ================================== */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.delay-01 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}



/* slider */
#hero-slider {
	position: relative;
	height: 100vh;
	display: flex;
	background: $dark-color;
}

#slideshow {
	position: relative;
	flex: 1 1 $main-width;
	display: flex;
	align-items: flex-end;
	padding: $offset;
}

#info {
	position: relative;
	flex: 1 1 $side-width;
	padding: $offset;
	background-color: #fff;
}

#slides-main {
	@extend %abs;

	&:after {
		content: '';
		@extend %abs;
		background-color: rgba(0, 0, 0, .25);
		z-index: 100;
   }

	.slide-image {
		@extend %abs;
		background-position: center;
		background-size: cover;
		z-index: -1;
	}
}

#slides-aux {
	position: relative;
	top: 1.25rem;
	width: 100%;

	.slide-title {
		position: absolute;
		z-index: 300;
		font-size: 4vw;
		font-weight: 700;
		line-height: 1.3;
		@include outlined(#fff);
	}
}

%abs {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

@mixin outlined($color: $dark-color, $size: 1px) {
	color: transparent;
	-webkit-text-stroke: $size $color;
}

.slider-title-wrapper {
	position: absolute;
	top: $offset;
	left: calc(100% - #{$offset});
    transform-origin: 0% 0%;
    transform: rotate(90deg);
    @include outlined;
}
