body {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.navbar {
  background: #000;
}
.navbar-brand>img {
  width: 4rem;
}
.navbar-default {
  border: none;
}
.navbar-nav>li>a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #e7e7e7;
}
video{
  width: 100%;
  margin-top: 45px;
}

.video-info {
  position: absolute;
  top: 300px;
  left: 75%;
}
.video-info h1 {
  color: #fff;
  font-weight: bold;
  font-size: 54px;
}

.banner-img {
  display: none;
}


.font-normal {
  text-shadow: 2px 2px 4px #000000;

}

.tp-bgimg {
  background-attachment: fixed;
}
#about .video-container {
  position: relative;
  width: 50%;
}
#about .image {
  display: block;
  width: 100%;
  height: auto;
}

#about, #about .section-header {
  padding: 0;
}
#about h2 {
  color: #000;
  font-size: 5.5rem;
}
#about h2 .green {
  color: green;
}
#about .col-md-3 {
  padding: 0;
}
#about .video-container {
position: relative;
width: 100%;
}

#about .image {
display: block;
width: 100%;
height: 300px;
}

#about .overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #008CBA;
}
#about .overlay::before {
display: none;
}
#about .video-container:hover .overlay {
opacity: 1;
}

#about .text {
color: white;
font-size: 20px;
position: absolute;
z-index: 20;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.media-img {
  height: 500px;
  background: url('../img_/drew-graham.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 40px 0 40px 0;
}

.media-img .row {
  margin: 40px auto;
}
.media-text h2, .media-text p {
  text-align: center;
  color: #ffffff;
}
.media-text p i {
  color: #fff;
  font-size: 20px;
}

.media-text p {
  line-height: 26px;
}

#our-work .brands {
  width: 100%;
}

#fadetb {
  background: linear-gradient( rgba(0,130,170,0.3),rgba(0, 13, 51,6), rgba(0,0,0,1) );
  color: #fff;
  margin-bottom: 0 !important;
  /* text-shadow: 2px 2px 4px #000000; */
}

#fadetb .section-title {
  color: #fff;
}
#fadetb .black {
  color: #000000;
}
#fadetb .font-lg {
  margin-bottom: 40px
}
.video-img .ang {
    height: 300px !important;
    width: 400px;
    object-fit: cover;
}
#rev_slider_2 .tp-parallax-wrap {
  left: 17% !important;
  color: #fff;
  text-align: center;
}
#rev_slider_2 .tp-parallax-wrap .comp-adv {
  font-size: 18px;
}
#digital-img .tp-parallax-wrap {
  left: 90rem !important;
  color: #fff;
  text-align: center;
}
#digital-img {
  height: 500px;
  padding-top: 0 !important;
  /* margin: 3rem 0; */
}
#digital-img .ytcert {
  background: #fff;
  border-radius: 5px;
  width: 13rem !important;
  height: auto !important;
}
#digital-img h2 {
  font-size: 1em;
}
#digital-img h4 {
  font-size: .9em !important;
}
#digital-img .ytc-sub {
  font-size: 18px;
  letter-spacing: 0;
}
#digital .lrg-img {
  max-width: 55%;
}

#rev_slider_3 h2, #rev_slider_3 p {
  text-shadow: 2px 2px 3px #050201;
  color: #fff;
  text-align: center;
}

#rev_slider_3 p.ytc-sub {
  line-height: 26px !important;
}

#unlimitedVideo, #events {
  padding-top: 0 !important;
  margin-bottom: 0!important;
}

#unlimitedVideo {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9feff+0,f4f6f9+50,e4e3fc+100 */
background: rgb(249,254,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(249,254,255,1) 0%, rgba(244,246,249,1) 50%, rgba(228,227,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(249,254,255,1) 0%,rgba(244,246,249,1) 50%,rgba(228,227,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(249,254,255,1) 0%,rgba(244,246,249,1) 50%,rgba(228,227,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9feff', endColorstr='#e4e3fc',GradientType=1 ); /* IE6-9 */
}

#events {
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d52bdb+0,620eea+50,ec81ef+100 */
background: rgb(213,43,219); /* Old browsers */
background: -moz-linear-gradient(left, rgba(213,43,219,1) 0%, rgba(98,14,234,1) 50%, rgba(236,129,239,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(213,43,219,1) 0%,rgba(98,14,234,1) 50%,rgba(236,129,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(213,43,219,1) 0%,rgba(98,14,234,1) 50%,rgba(236,129,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d52bdb', endColorstr='#ec81ef',GradientType=1 ); /* IE6-9 */
}
#events .font-lg {
  margin-bottom: 30px;
}
#events .section-title::after {
  background-color: #fff;
  width: 6em;
}

#events .col-md-6 {
  padding-right: 0;
}

#unlimitedVideo .section-header {
  margin: 0;
}


hr {
  width: 85%;
  border-top: 1px solid #d0d3da;
}

.newsletter-img {
  width: 300px;
  margin: 0 auto;
  margin-bottom:  30px;
  border: 1px solid #d9dde2;
  text-align: center;
  background: #f7f8f9;
}

.newsletter-img p {
  font-size: 16px;
}

#mc_embed_signup input#mce-EMAIL {
    width: 90%;
    text-align: center;
    border: 1px solid #d9dde2;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

#mc_embed_signup input#mc-embedded-subscribe, #mc_embed_signup input#mc-embedded-subscribe:focus {
  margin: 10px;
  background: #000;
  height: auto;
}
#mc_embed_signup input#mc-embedded-subscribe:hover, #mc_embed_signup input#mc-embedded-subscribe:focus:hover {
  background: #700414;
  color: #fff;
}

#team-members {

}
#team-members .team-figure {
  height: 27rem;
  /* border-radius: 50%; */
  width: 25rem;
  margin: auto;
}
#team-members {
  position: relative;
  padding: 30px 0;
}
#team-members .text {
  position: absolute;
  top: 200px;
  text-align: center;
}
#team-members .cert-icons {
  margin-top: 3rem;
}
#team-members .nmsdc, #team-members .ytcert {
  margin: 0 10px;
}
#team-members .woods-img {
  position: relative;
  text-align: center;
  padding: 30px 0;
}
#team-members .woods-img img {
  max-width: 75%;
}
.logo-links {
    height: 100px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #d9dde2;
}

.logo-links img {
  height: 100%;
  margin: 0 20px;
}


#team {
  background-color: #c42a00;
}

#team header h2 {
  color: #ffffff;
}

.newsletter .social-icons .fab {
  font-size: 3rem;
  margin: 2px;
}
.newsletter .social-icons .fab:hover {
  color: #700414;
}
.newsletter .social-icons {
  padding: 15px 0;
}

#contact {
  background: #000000;
  color: #ffffff;
}

#contact .col-md-12 {
  text-align: center;
}

#contact .contact-info {
  padding: 30px;
}

#contact .contact-info a {
  color: #c42a00;
}



/************* Tablet View ***************/
@media (max-width: 768px){
  .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar-brand>img {
    width: 3rem;
  }
  #digital .col-md-2 img {
    width: 44%;
  }

  .team-figure img {
    margin: 0 auto;
  }

  #about {
    /* margin-bottom: 30px !important; */
    padding: 0;
  }
  #fadetb .artist {
    max-width: 100%;
  }
  #unlimitedVideo {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
  }
  #digital-img .tp-parallax-wrap {
    left: 51rem !important;
    color: #fff;
  }
  #digital-img {
    height: auto;
    padding-top: 0 !important;
  }

  #events {
    padding: 0 !important;
  }

  #team-members .text {
    position: initial;
    text-align: center;
  }
  #team-members .woods-img {
    padding: 0;
  }
  #team-members .woods-img img {
    max-width: 100%;
  }

  #careers .lbl {
    margin: 10px 0;
  }


}

/******************** Mobile View *********************/
@media (max-width: 600px){
  .navbar {
    background: #000;
  }

  .fullscreen-bg {
    display: none;
  }
  .banner-img {
    display: block;
    margin: 20px auto;
  }

  #about {
    margin-top: 100px;
    /* margin-bottom: 20px !important; */
    padding: 0;
  }
  #our-work .section-header {
    margin: 0;
  }
  #our-work .nmsdc {
    margin-bottom: 20px;
  }
  .tp-bgimg {
    background-attachment: inherit;
    height: 300px;
  }

  #rev_slider_2 .tp-parallax-wrap {
    font-size: 32px;
  }
  #rev_slider_3 .tp-parallax-wrap {
    left: 16rem !important;
  }
  #rev_slider_3 .tp-parallax-wrap h2 {
    font-size: 17px !important;
  }
  #rev_slider_3 p.ytc-sub {
    line-height: 16px !important;
    font-size: 15px !important;
  }

  #digital-img .tp-parallax-wrap {
    left: 24rem !important;
    color: #fff;
  }
  #digital-img h4 {
    line-height: 1.2em !important;
    font-size: 1em !important;
  }
  #digital .col-md-2 img {
    max-width: 85%
  }

  #digital-img .ytcert {
    background: #fff;
    border-radius: 5px;
    width: 8rem !important;
    height: auto !important;
  }
  .media-img {
    height: auto;
  }
  #team {
    padding: 0px;
  }

  #mc_embed_signup input#mce-EMAIL {
      width: 90%;
      text-align: center;
      height: auto;
  }

  #mc_embed_signup input#mc-embedded-subscribe, #mc_embed_signup input#mc-embedded-subscribe:focus {
    width: 50%;
    margin: 10px 0 !important;
  }
  #team-members {
    padding-bottom: 0;
  }
  #team-members .text {
    position: initial;
    text-align: center;
    margin-bottom: 20px;
  }
  #team-members .woods-img {
    padding: 0;
  }
  #team-members .woods-img img {
    max-width: 100%;
  }

  #contact .contact-info {
    padding: 15px;
    font-size: 17px;
  }
}
